main {
  border: 2px solid black;
  width: 50%;
  margin: auto;
  text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
}
.header {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}